.servicesWapper{
    background:url('../../../../../public/assets/images/bg-services.png');
    background-attachment: fixed;
    background-position:bottom;
    background-size: cover;
    gap:1rem;
}
.servicesGrid{
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(3, 1fr);
}
.serviceDescription{
    align-items: center;
    background: var(--white-primary);
    border-radius:5px;
    display:flex;
    flex-direction: column;
    gap:1.5rem;
    padding: 6rem;
    text-align: center;
    width:100%;
}
.serviceDescription ul{
    align-items: flex-start;
    display:flex;
    flex-direction: column;
    font-weight:600;
    gap:0.5rem;
    list-style: none;
    margin:0 auto;
    width:60%;
}
.serviceDescription svg{
    font-size:2rem;
}
.serviceTitle{
    align-items: center;
    display:flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap:1rem;
}
.serviceImage{
    width:50%;
}
@media (min-width:240px) and (max-width:880px){
    .servicesGrid{
        grid-template-columns: 1fr;
    }
}