@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: "Antonio", sans-serif;
}
/*UI colors*/
:root{
  --black-primary:#111111;
  --golden-primary:#ceab56;
}

/*container*/
.flexContainer{
  margin: 0 auto;
  max-width:90%;
}

/*Padding sections*/
.paddingSection{
  padding:10rem 0;
}
@media(min-width:240px) and (max-width:900px){
  .paddingSection{
    padding:6rem 0;
  }
}

/*mask container*/
.maskContainer{
  background:#000000ae;
}