@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  font-family: "Antonio", sans-serif;
}
/*UI colors*/
:root{
  --black-primary:#191816;
  --golden-primary:#ceab56;
}

/*container*/
.flexContainer{
  margin: 0 auto;
  max-width:90%;
}