*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/*UI colors*/
:root{
  --black-primary:#191816;
  --golden-primary:#ceab56;
}

/*container*/
.flexContainer{
  margin: 0 auto;
  max-width:90%;
}