.footerWrapper{
    background:url('https://www.nivelproduccion.com/assets/footer.webp');
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    color:white;
    width:100%;
}
.footerMask{
    height:100%;
    width:100%;
}
.footerContent{
    align-items: center;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%;
}
.footerList{
    align-items: center;
    display:flex;
    flex-direction: column;
    font-family: "Hind", sans-serif;
    gap:1rem;
    height:100%;
    list-style: none;
    width:100%;
}
.footerList a {
    color:white;
    font-size: 2rem;
}
.footerTitle{
    font-family: "Antonio", sans-serif;
    font-size:1.5rem;
}
.footerCopyRight{
    font-family: "Hind", sans-serif;
    padding-top:6rem;
    text-align: center;
}
@media (min-width:240px) and (max-width:900px){
    .footerContent{
        flex-direction: column;
        gap:1rem;
    }
}