.contactWrapper{
    background: var(--black-primary);
    width:100%;
}
.contactInfo{
   border: 1px solid var(--golden-primary);
    color:white;
    display:flex;
    justify-content: center;
}
.contactInfo figure{
    background: #a1a1a1;
    height:400px;
    width:100%;
}
.contactInfo img{
    height: 100%;
    object-fit:contain;
    object-position: top;
    width:100%;
}
.contactInfo div{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem 0;
    width:100%;
}
.contactTitle{
    color:var(--golden-primary);
    font-size: 2rem;
}
.contactList{
    display:flex;
    flex-direction: column;
    font-family: "Hind", sans-serif;
    gap:1rem;
    list-style: none;
    padding:1rem;
    width:100%;
}
.contactLink{
    align-items: center;
    color:white;
    font-size: 1.3rem;
    display:flex;
    gap:0.5rem;
    text-decoration: none;
}
@media (min-width:240px) and (max-width:900px){
    .contactInfo figure{
       display:none;
    }
}